PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/financeos
NODE_ENV=development
SERVICE_NAME=financeos-api
LOG_LEVEL=info
LOG_TO_FILE=false
LOG_FILE_PATH=./logs/app.log
AMFI_NAV_URL=https://www.amfiindia.com/spages/NAVAll.txt
YAHOO_QUOTE_URL=https://query1.finance.yahoo.com/v7/finance/quote
PRICE_CACHE_TTL_MS=300000
