PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/financeos_v2
FRONTEND_URL=http://localhost:5173
KITE_API_KEY=
KITE_API_SECRET=
KITE_REDIRECT_URL=http://localhost:5000/api/brokers/kite/callback
BREEZE_API_KEY=
BREEZE_API_SECRET=
BREEZE_SESSION_TOKEN=

